.filters-tittle {
  font-family: Roboto , sans-serif;
  font-size: 1em;
}

.filters {
  font-family: Roboto , sans-serif;
  justify-content: center;
}

.filters button {
  border: 1px solid black;
  border-radius: 10px;
  font-family: Roboto , sans-serif;
  margin-left: 10px;
  transition: 0.3s;
  width: 30px;
  padding: 0 10px 1px 10px;
}

.filters button:hover {
  background-color: red;
  color: white;
}

.button-remove-filters {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1em;
  padding: 5px;
  transition: 0.3s;
}

.button-remove-filters:hover {
  background-color: red;
  color: white;
}
