.filter-and-sort {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.filter-and-sort form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 80%;
}

.filter-and-sort label {
  font-family: Roboto , sans-serif;
  font-size: 1em;
  width: 100%;
}

.filter-and-sort select {
  border: 1px solid black;
  border-radius: 10px;
  font-family: Roboto , sans-serif;
  font-size: 1em;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.filter-and-sort input {
  border: 1px solid black;
  border-radius: 10px;
  font-family: Roboto , sans-serif;
  font-size: 1em;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

.filter-and-sort button {
  border: 1px solid black;
  border-radius: 10px;
  font-family: Roboto , sans-serif;
  font-size: 1em;
  padding: 5px;
  text-align: center;
  transition: 0.3s;
  width: 100%;
}

.filter-and-sort button:hover:enabled {
  background-color: black;
  color: white;
}

.filter-and-sort button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
