table {
  margin-left: auto;
  margin-right: auto;
}

.planets {
  border-collapse: collapse;
  font-family: Roboto , sans-serif;
  font-size: 0.7rem;
  width: 80%;
}

.planets th {
  background-color: black;
  color: white;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
}

.planets td {
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
}

.planets td, .planets th {
  border: 0.5px solid black;
  padding: 8px;
}

.planets tr:nth-child( even ){ background-color: #f2f2f2; }

.planets tr:hover { background-color: #ddd; }
